<h2 class="mb-5">@if (contact) { Editar contacto } @else { Nuevo contacto }</h2>

<div class="row row-cols-3 justify-content-center">
  @if (form) {
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="mb-3">
      <label for="name">Nombre</label>
      <input
        type="text"
        id="name"
        placeholder="Nombre"
        class="form-control"
        formControlName="name"
      />
    </div>

    <div class="mb-3">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        placeholder="Email"
        class="form-control"
        formControlName="email"
      />
    </div>

    <div class="text-end">
      <button type="button" class="btn btn-danger" routerLink="/">
        Cancelar
      </button>
      <button class="btn btn-success ms-2">
        @if (contact) { Actualizar contacto } @else { Crear contacto }
      </button>
    </div>
  </form>
  }
</div>
